
 <form>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="id" [ngModelOptions]="{standalone: true}" [(ngModel)]="issue.id">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="iid" name="iid" [ngModelOptions]="{standalone: true}" [(ngModel)]="issue.iid">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Descripcion" name="descripcion" [(ngModel)]="issue.descripcion"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="state" name="state" [ngModelOptions]="{standalone: true}" [(ngModel)]="issue.state">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="milestone" name="milestone" [ngModelOptions]="{standalone: true}" [(ngModel)]="issue.milestone">
  </mat-form-field>

  <button mat-fab (click)="savedIssue()"><mat-icon>save</mat-icon></button>
</form>

