<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let issue of issues">
    <a [routerLink]="['/issue-add', issue.iid]"><mat-icon color='accent'>edit</mat-icon>  </a>
    <p mat-line> Título: {{issue.title}} </p>
    <p mat-line> Nombre: {{issue.author.name}} </p>
    <p mat-line> ID: {{issue.id}} </p>     
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-item>
</mat-list>

<a mat-fab routerLink="/issue-add"><mat-icon>add</mat-icon></a>

