/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}


.mat-list-item-content{
  width: 20%;
}

